/* Space out content a bit */
body {
  background-color: #f5f5f5;
}

.container {
  background-color: white;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 4em;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 1000px) {
  .container {
    max-width: 950px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 920px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.edge {
  stroke: black;
  stroke-width: 1px;
}

.labelText {
  text-anchor: middle;
  font-size: 8pt;
}

.qgraph {
  border: 1px solid #eee;
  margin: 0 auto;
  overflow: scroll;
}

.qrule, .qderive {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.qrule .block, .qderive .block {
  display: inline-block;
  vertical-align: middle;
}

.qderive .info {
  text-align: center;
}

.qderive .controls {
  width: 500px;
  text-align: center;
  margin: 4px auto;
}

p.theorem::before {
  font-weight: bold;
  content: "Theorem. ";
}

p.lemma::before {
  font-weight: bold;
  content: "Lemma. ";
}

p.definition::before {
  font-weight: bold;
  content: "Definition. ";
}

p.proof::before {
  font-style: italic;
  content: "Proof. ";
}

